<ion-header>
  <ion-toolbar>
    <ion-title>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/200px-Instagram_logo.svg.png"
        alt="Instagram">
    </ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="paper-plane-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options]="{freeMode: true, slidesPerView: 'auto'}">
    <ion-slide *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10,11,12]">
      <ion-avatar>
        <img [src]="'https://randomuser.me/api/portraits/men/'+i+'.jpg'" />
      </ion-avatar>
    </ion-slide>
  </ion-slides>

  <ion-card *ngFor="let i of [0,1,2,3,4,5,6,7,8,9]" class="post-card">
    <ion-card-header class="ion-no-padding">
      <ion-row class="ion-align-items-center">
        <ion-col size="auto">
          <ion-avatar>
            <img [src]="'https://randomuser.me/api/portraits/men/'+(i+12)+'.jpg'">
          </ion-avatar>
        </ion-col>
        <ion-col size="auto">
          <ion-text color="dark"><strong>fulano_de_tal_{{i*123}}</strong></ion-text>
        </ion-col>
        <ion-col size="auto" class="ml-auto">
          <ion-button fill="clear" color="dark" size="small">
            <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-header>

    <img [src]="'https://picsum.photos/id/'+(i+12)+'/400/400'">

    <ion-card-content class="ion-no-padding">
      <ion-row>
        <ion-col size="auto">
          <ion-button fill="clear" color="dark" size="small">
            <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button fill="clear" color="dark" size="small">
            <ion-icon slot="icon-only" name="chatbubble-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button fill="clear" color="dark" size="small">
            <ion-icon slot="icon-only" name="paper-plane-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="auto" class="ml-auto">
          <ion-button fill="clear" color="dark" size="small">
            <ion-icon slot="icon-only" name="bookmark-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="like-count">
        <ion-col size="auto">
          <ion-row>
            <ion-avatar *ngFor="let j of [0,1]">
              <img [src]="'https://randomuser.me/api/portraits/women/'+(j+i*2)+'.jpg'">
            </ion-avatar>
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-text color="dark">Curtido por <strong>fulanodetal</strong> e <strong>outras pessoas</strong></ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-text color="dark">
            <p *ngFor="let j of [0,1,2]">
              <strong>ciclano</strong> Lorem ipsum dolor, sit amet consectetur adipisicing
            </p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>