ion-title {
    img {
        height: 35px;
        margin-top: 5px;
        margin-bottom: -5px;
    }
}

ion-slide {
    width: 64px;
    margin: 0.25em 0.5em;
    p {
        font-size: 0.6em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    ion-avatar {
        margin: auto;
        border: 2px orange solid;
    }
}

.post-card {
    ion-avatar.author-avatar {
        width: 32px;
        height: 32px;
    }

    .commenter-avatar {
        width: 24px;
        height: 24px;
        border: 2px white solid;
        z-index: 1;
        + .commenter-avatar {
            margin-left: -10px;
            z-index: 0;
        }
    }
}

.ml-auto {
    margin-left: auto;
}
