<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Adicionar cidade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-button expand="block">
        <ion-icon slot="start" name="location"></ion-icon>
        Pegar localização
      </ion-button>
      <ion-searchbar [(ngModel)]="query" (ionChange)="search()" placeholder="Buscar cidade"></ion-searchbar>
      <ion-list>
        <ion-item button (click)="addCity(city)" *ngFor="let city of searchResults">
          <ion-label>{{city.name}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>