<ion-card class="post-card">
  <ion-card-header class="ion-no-padding">
    <ion-row class="ion-align-items-center">
      <ion-col size="auto">
        <ion-avatar>
          <img [src]="'https://randomuser.me/api/portraits/men/'+(post.id)+'.jpg'">
        </ion-avatar>
      </ion-col>
      <ion-col size="auto">
        <ion-text color="dark"><strong>{{post.author}}</strong></ion-text>
      </ion-col>
      <ion-col size="auto" class="ml-auto">
        <ion-button fill="clear" color="dark" size="small">
          <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card-header>

  <div class="feed-photo">
    <img (click)="toggleLike()" [src]="'https://picsum.photos/id/'+post.id+'/400/400'">
    <ion-icon *ngIf="post.liked && dirty" name="heart"></ion-icon>
  </div>

  <ion-card-content class="ion-no-padding">
    <ion-row>
      <ion-col size="auto">
        <ion-button (click)="toggleLike()" [color]="post.liked ? 'danger' : 'dark'" size="small" fill="clear">
          <ion-icon slot="icon-only" [name]="post.liked ? 'heart' : 'heart-outline'"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="auto">
        <ion-button fill="clear" color="dark" size="small">
          <ion-icon slot="icon-only" name="chatbubble-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="auto">
        <ion-button fill="clear" color="dark" size="small">
          <ion-icon slot="icon-only" name="paper-plane-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="auto" class="ml-auto">
        <ion-button fill="clear" color="dark" size="small">
          <ion-icon slot="icon-only" name="bookmark-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="like-count">
      <ion-col size="auto">
        <ion-row>
          <ion-avatar *ngFor="let j of [0,1]">
            <img [src]="'https://randomuser.me/api/portraits/women/'+(j+post.id*2)+'.jpg'">
          </ion-avatar>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-text color="dark">Curtido por <strong>fulanodetal</strong> e <strong>outras pessoas</strong></ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-text color="dark">
          <p *ngFor="let j of [0,1,2]">
            <strong>ciclano</strong> Lorem ipsum dolor, sit amet consectetur adipisicing
          </p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>