<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Perfil de motorista
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Buscar motorista"></ion-searchbar>

  <ion-card>
    <ion-card-header>

      <ion-row class="ion-align-items-center">
        <ion-col size="auto">
          <ion-avatar>
            <img src="https://randomuser.me/api/portraits/women/28.jpg" alt="">
          </ion-avatar>
        </ion-col>
        <ion-col>
          <ion-card-title>
            Karine Ferreira
            <ion-badge>
              4.7<ion-icon name="star"></ion-icon>
            </ion-badge>
          </ion-card-title>
          <ion-card-subtitle>Motorista desde 2015</ion-card-subtitle>

        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      In the beginning the Universe was created.
      This has made a lot of people very angry and
      been widely regarded as a bad move.
    </ion-card-content>
  </ion-card>
</ion-content>