<ion-header>
  <!-- <ion-toolbar color="primary">
    <ion-title>
      My To-Do List
    </ion-title>
  </ion-toolbar> -->
  <ion-toolbar color="light">
    <ion-item color="light">
      <ion-label position="floating">Add Task</ion-label>
      <ion-input type="text" [(ngModel)]="newTaskName"></ion-input>
    </ion-item>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="addTask()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-progress-bar [value]="completedPercentage"></ion-progress-bar>
  <ion-segment [(ngModel)]="currentFilter" (ionChange)="updateFilter()">
    <ion-segment-button value="all">
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button value="done">
      <ion-label>Done</ion-label>
    </ion-segment-button>
    <ion-segment-button value="todo">
      <ion-label>To-Do</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-toolbar color="light">
    <ion-searchbar placeholder="Filter Tasks" [(ngModel)]="currentSearch" (ionChange)="updateFilter()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="tasks.length > 0; else emptyTasks">
    <ion-item *ngFor="let task of filteredTasks">
      <ion-checkbox slot="start" [(ngModel)]="task.done" (ionChange)="calculateCompletedPercentage()"></ion-checkbox>
      <ion-label>{{task.name}}</ion-label>
      <ion-button slot="end" fill="clear" color="danger" (click)="removeTask(task.id)">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ng-template #emptyTasks>
    <ion-text color="medium" class="ion-text-center">
      <p>Add tasks using the input above</p>
    </ion-text>
  </ng-template>
</ion-content>