h2{
    font-size: 14pt;
    margin: 0;
}

.ml-auto{
    margin-left: auto;
}

.daily-scenary-card {
    & > img{
        height: 130px;
        width: 100%;
        object-fit: cover;
    }
    ion-avatar{
        width: 35px;
        height: 35px;
        margin-left: auto;
    
        & + ion-avatar{
            margin-left: 5px;
        }
    }
}

.city-cards{
    div{
        position: relative;
        height: 0;
        padding-top: 100%;
        background-size: cover;
        border-radius: 5px;
        box-shadow: 0px 1px .25em rgba(0,0,0, .4);
    }
    p{
        margin: 0;
        position: absolute;
        bottom: 1em;
        left: 0;
        color: white;
        background: rgba(0,0,0, .6);
        padding: .25em .5em;
        font-size: 10pt;
        border-radius: 2px;
    }
}

.avatar-medium{
    width: 45px;
    height: 45px;
    margin-right: 5px;
}

.ripple-parent {
    position: relative;
    overflow: hidden;
  }