h2{
  font-size: 14pt;
  font-weight: bold;
  margin: 0;
}

.ml-auto{
  margin-left: auto;
}


ion-avatar{

  &.small{
    width: 35px;
    height: 35px;
  }
  
  &.medium{
    width: 45px;
    height: 45px;
  }
}


ion-card > img{
  height: 130px;
  width: 100%;
  object-fit: cover;
}

.ripple-parent {
  position: relative;
  overflow: hidden;
}

.image-card {

  img{
    height: 28vw;
    object-fit: cover;
    border-radius: 6px;
  }
  
  p {
    position: absolute;
    left: 5px;
    bottom: 8px;
    background: rgba(0,0,0,.4);
    padding: 3px 6px;
    color: white;
    font-size: 10pt;
    font-weight: bold;
    border-radius: 0 3px 3px 0;
  }
}
