<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="user">
    <ion-card-header>
      <ion-row class="ion-align-items-center">
        <ion-col size="auto">
          <ion-avatar>
            <img [src]="user.avatar_url" />
          </ion-avatar>
        </ion-col>
        <ion-col>
          <ion-card-title>{{user.name}}</ion-card-title>
          <ion-card-subtitle>{{user.login}}</ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <h2 class="ion-text-center"><strong>{{user.followers}}<br> seguidores</strong></h2>
        </ion-col>
        <ion-col>
          <h2 class="ion-text-center"><strong>{{user.following}}<br> seguindo</strong></h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <p>{{user.bio}}</p>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>