<ion-header>
  <ion-toolbar>
    <ion-title>josemar</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>

      <ion-menu-button menu="profileMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="profilePage">

  <ion-row class="ion-text-center profile-header ion-margin ion-align-items-center">
    <ion-col>
      <ion-avatar>
        <img src="https://randomuser.me/api/portraits/men/86.jpg" />
      </ion-avatar>
    </ion-col>
    <ion-col>
      <strong>42</strong>
      <p>Publicações</p>

    </ion-col>
    <ion-col>
      <strong>900</strong>
      <p>Seguidores</p>

    </ion-col>
    <ion-col>
      <strong>749</strong>
      <p>Seguindo</p>

    </ion-col>
  </ion-row>

  <ion-row class="ion-padding-horizontal">
    <ion-col size="12">
      <strong>Josemar</strong><br>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat suscipit officiis culpa sequi
      quidem

    </ion-col>
  </ion-row>

  <ion-segment [(ngModel)]="nCols">
    <ion-segment-button value="3">
      <ion-icon name="grid"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="1">
      <ion-icon name="square"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <ion-row class="profile-pics">
    <ion-col class="ion-no-padding" [size]="12/nCols" *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10,11,12,13]">
      <img [src]="'https://picsum.photos/id/'+(42+i*3)+'/400/400'" alt="">
    </ion-col>
  </ion-row>

</ion-content>

<ion-menu contentId="profilePage" menuId="profileMenu" side="end" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title>Awesome avocado menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    Awesome avocado content
  </ion-content>
</ion-menu>